/* Global styles*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 2.6rem;
}
li,
button,
label,
input,
p {
  font-size: 2rem;
}
h2 {
  font-size: 3.4rem;
}
h3 {
  font-size: 2rem;
}
h4,
h5 {
  font-size: 2.8rem;
}
a {
  color: white;
  text-decoration: none;
}
button {
  padding: 1rem 3rem;
  background: #4c6e97;
  color: white;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
button:hover {
  background: #27394e;
  font-size: 2.6rem;
}

/* Nav section with HERO*/

.main-head {
  background: #131c27;
  color: white;
  position: sticky;
  top: 0%;
  z-index: 3;
}
nav {
  min-height: 5vh;
  display: flex;
  width: 90%;
  margin: auto;
  align-items: center;
  padding: 0.5rem;
  flex-wrap: wrap;
}
.menu_hamburger{
  flex: 1 1 10rem;
  cursor: pointer;
}
.line{
  background-color: white;
  width: 30px;
  height: 2px;
  margin: 5px 0;
}
nav ul{
  display: none;
}
/*nav ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-around;
  list-style: none;
  align-items: center;
} */
.search_icon{
  flex: 1 1 10rem;
  display: flex;
  justify-content: right;
}
.search_icon i{   
  font-size: 24px;
  cursor: pointer;
}
.logo {
  flex: 1 1 20rem;  
  }
.logo_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#logo1{
  font-weight: 400;  
  font-family: "Pattaya", sans-serif;
}
.hero {
  min-height: 90vh;
  width: 98%;
  margin: 1rem auto;
  display: grid;
  grid-gap:1px 0.5rem;
  grid-template-columns: auto auto auto auto  auto auto auto auto auto auto  auto auto  auto auto  auto auto;
}
.hero img{
  height: auto;
  max-width: 100%;
  border-radius: 1.5rem;
  box-shadow: 1px 1px 2rem #abb5c0;
}




/* FOOTER SECTION */

footer {
  background: rgba(19, 28, 39, 0.9);
  color: white;
}
.form-wrapper label {
  margin: 0rem 3rem;
}
.form-wrapper button {
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.footer-wrapper {
  display: flex;
  padding: 2rem;
  width: 90%;
  margin: auto;
  align-items: center;
  min-height: 10vh;
  flex-wrap: wrap;
}
.footer-wrapper h5 {
  flex: 1 1 40rem;
}
.footer-wrapper ul {
  display: flex;
  list-style: none;
  flex: 1 1 40rem;
  justify-content: space-between;
  align-items: center;
}

button:focus {
  background: #273950;
  outline-style: solid;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 933px) {
  html {
    font-size: 45%;
  }
  nav {
    text-align: center;
  }
  #logo {
    padding: 2rem;
  }
  
  
  .footer-wrapper {
    text-align: center;
  }
  .footer-wrapper h5 {
    padding-bottom: 3rem;
  }
}
/* --------- Mobile -------------- */
@media only screen and (min-width:320px) and (max-width:480px) {
  .hero{
    min-height: 90vh;
    width: 98%;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }
  .hero > img{
    max-height: auto;
    max-width:100%;
    border-radius: 0.5rem;
  }
  
}
}
/* --------- Tablets -------------- */
@media only screen and (min-width:768px) and (max-width:1024px){

}