@charset "UTF-8";
/* padding left and right */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.icons {
  width: 2.6rem;
  height: 2.6rem;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-animation: opening 2s ease-in-out;
          animation: opening 2s ease-in-out;
  color: #131c27;
}

h1 {
  font-size: 2.5rem;
}

li,
button,
label,
input,
p {
  font-size: 2rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4,
h5 {
  font-size: 1rem;
}

a {
  color: #131c27;
  text-decoration: none;
}

/* ---------------------------NAV SECTION -------------------------------------------------------*/
.main-head {
  background: white;
  color: #131c27;
  -webkit-box-shadow: 0px 5px 5px rgba(19, 28, 39, 0.1), 0px 10px 10px rgba(19, 28, 39, 0.1);
          box-shadow: 0px 5px 5px rgba(19, 28, 39, 0.1), 0px 10px 10px rgba(19, 28, 39, 0.1);
  position: -webkit-sticky;
  position: sticky;
  top: 0%;
  z-index: 1;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 7vh;
  width: 90%;
  margin: auto;
  padding: 1rem;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

nav h1 {
  -webkit-box-flex: 3;
      -ms-flex: 3 1 40rem;
          flex: 3 1 40rem;
  font-weight: 400;
  font-family: "Pattaya", sans-serif;
  letter-spacing: 0.2rem;
  text-align: center;
}

.search_and_bag_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search_and_bag_icons #shopping_bag {
  margin-left: calc(1.5rem + 0.5vw);
}

.active {
  background: #525252;
  border-radius: 2rem;
  color: white;
  padding: 0.5rem 0.5rem;
}

.gender, .labels {
  border-top: 1px solid #131c2782;
}

.hero {
  min-height: 93vh;
  width: 98%;
  margin: 1.5rem auto;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(7rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
}

.hero img {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.shoe_details img {
  -webkit-animation: selected_shoe 1s ease-in-out forwards;
          animation: selected_shoe 1s ease-in-out forwards;
  transform-box: fill-box;
}

.shoe_size span {
  font-weight: bold;
  font-size: 2.5rem;
}

.shoe_size h5 {
  font-size: 2rem;
}

/* ------------------------------FOOTER SECTION----------------------------- */
footer {
  background: white;
  font-family: 'League Spartan', sans-serif;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(19, 28, 39, 0.2)), to(transparent));
  background: linear-gradient(rgba(19, 28, 39, 0.2), transparent);
  text-align: center;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  width: 90%;
  margin: auto;
  min-height: 10vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-wrapper h3 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.footer-wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

/* ------------------------------MEDIA QUERIES SECTION----------------------------- */
@-webkit-keyframes opening {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes opening {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes selected_shoe {
  from {
    -webkit-transform: translateY(10%) rotateZ(-10deg) rotateX(-90deg);
            transform: translateY(10%) rotateZ(-10deg) rotateX(-90deg);
  }
  to {
    -webkit-transform: translateY(0%) rotateZ(0deg) rotateX(0deg);
            transform: translateY(0%) rotateZ(0deg) rotateX(0deg);
  }
}

@keyframes selected_shoe {
  from {
    -webkit-transform: translateY(10%) rotateZ(-10deg) rotateX(-90deg);
            transform: translateY(10%) rotateZ(-10deg) rotateX(-90deg);
  }
  to {
    -webkit-transform: translateY(0%) rotateZ(0deg) rotateX(0deg);
            transform: translateY(0%) rotateZ(0deg) rotateX(0deg);
  }
}

@media screen and (max-width: 810px) {
  html {
    font-size: 60%;
  }
  .hero {
    -ms-grid-columns: (minmax(6rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
  }
}

/* ------------------------------MEDIA QUERIES SECTION----------------------------- */
@media screen and (max-width: 550px) {
  html {
    font-size: 56.5%;
  }
  main {
    overflow-x: hidden;
    width: 100%;
  }
  .hero {
    -ms-grid-columns: (minmax(5rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  }
  .shoe_details {
    display: -ms-grid;
    display: grid;
    width: 98%;
    min-height: 80vh;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    margin: 0.5rem auto;
  }
  .shoe_details .stars_and_heart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    width: 80%;
    font-size: 3rem;
    cursor: pointer;
    min-height: 5vh;
  }
  .shoe_details .stars_and_heart #heart_icon, .shoe_details .stars_and_heart #ratings {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .shoe_details .stars_and_heart #cancel_shoe {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    text-align: end;
    color: #131c2782;
  }
  .shoe_details img {
    height: 80;
    width: 80%;
    border-radius: 0.5rem;
    -o-object-fit: cover;
       object-fit: cover;
    margin: auto;
  }
  .shoe_details .single_shoe_container {
    margin: 1rem 0;
    font-family: 'League Spartan', sans-serif;
  }
  .shoe_details .single_shoe_container .shoe_head {
    padding: 0rem;
    margin: 1rem auto;
    text-align: center;
    width: 95%;
  }
  .shoe_details .single_shoe_container .shoe_head .shoe_title {
    font-weight: bold;
  }
  .shoe_details .single_shoe_container .shoe_size {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
    margin: 1rem auto;
    border-bottom: 1px solid #525252;
    padding: 0 1rem;
  }
  .shoe_details .single_shoe_container .shoe_size p {
    -webkit-box-flex: 4;
        -ms-flex: 4 1 60rem;
            flex: 4 1 60rem;
  }
  .shoe_details .single_shoe_container .shoe_size span {
    font-size: 4rem;
    font-weight: 100;
  }
  .shoe_details .single_shoe_container .shoeinfo_n_plusicon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
    margin: 1rem auto;
    border-bottom: 1px solid #525252;
    padding: 0 1rem;
  }
  .shoe_details .single_shoe_container .shoeinfo_n_plusicon #shoeinfo_head {
    -webkit-box-flex: 4;
        -ms-flex: 4 1 60rem;
            flex: 4 1 60rem;
  }
  .shoe_details .single_shoe_container .shoeinfo_n_plusicon #shoeinfo_plusicon {
    font-size: 4rem;
    font-weight: 100;
  }
  .shoe_details .single_shoe_container .shoecolor_n_quantity {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
    margin: 1rem auto;
    border-bottom: 1px solid #525252;
  }
  .shoe_details .single_shoe_container .shoecolor_n_quantity .shoecolor_n_plusicon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 3;
        -ms-flex: 3 1 60rem;
            flex: 3 1 60rem;
    margin: 0 1rem;
  }
  .shoe_details .single_shoe_container .shoecolor_n_quantity .shoecolor_n_plusicon #plusicon {
    padding-left: 1rem;
    font-size: 4rem;
    font-weight: 100;
  }
  .shoe_details .single_shoe_container .shoecolor_n_quantity .shoequantity {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .shoe_details .single_shoe_container .shoecolor_n_quantity .shoequantity p {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 5rem;
            flex: 1 1 5rem;
    text-align: center;
    margin-right: 1rem;
  }
  .shoe_details .single_shoe_container .shoecolor_n_quantity .shoequantity input {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 5rem;
            flex: 1 1 5rem;
    text-align: left;
    width: 10%;
    padding: 0 .5rem;
    font-weight: 100;
    font-size: 2rem;
  }
  .shoe_details .single_shoe_container .add_to_bag {
    padding: 2rem;
    cursor: pointer;
    border-radius: .5rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.878);
    background-color: #131c27;
    letter-spacing: 2px;
    width: 90%;
    margin: 2rem auto;
    font-weight: bolder;
  }
  .shoe_details .single_shoe_container .add_to_bag_inactive {
    -webkit-box-flex: 2;
        -ms-flex: 2 1 40%;
            flex: 2 1 40%;
    padding: 1rem;
    cursor: not-allowed;
    border-radius: 1rem;
    margin: 2rem auto;
    text-align: center;
    color: rgba(255, 255, 255, 0.878);
    background-color: rgba(255, 0, 0, 0.207);
    width: 90%;
  }
  .image_slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 1rem 0;
    min-height: 5vh;
  }
  .image_slider img {
    height: 5vh;
    width: 10%;
  }
  .shop_bag_alert {
    z-index: 2;
    font-family: 'League Spartan', sans-serif;
    top: 0%;
    left: 100%;
    background-color: white;
    border-end-end-radius: 5px;
    width: 80%;
    height: 50vh;
    position: fixed;
    -webkit-box-shadow: -10px 10px 10px rgba(19, 28, 39, 0.1), -20px 20px 20px rgba(19, 28, 39, 0.1);
            box-shadow: -10px 10px 10px rgba(19, 28, 39, 0.1), -20px 20px 20px rgba(19, 28, 39, 0.1);
    border-top: none;
  }
  .shop_bag_alert .checkout {
    padding: 2rem;
    cursor: pointer;
    border-radius: .5rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.878);
    background-color: #131c27;
    letter-spacing: 2px;
    width: 90%;
    margin: 2rem auto;
    font-weight: bolder;
  }
  .shop_bag_alert .cost_head {
    width: 90%;
  }
  .shop_bag_alert .cost_head h2 {
    margin: 3rem auto;
    text-align: center;
  }
  .shop_bag_alert .payments {
    width: 90%;
    margin: 1rem auto;
  }
  .shop_bag_alert .payments .subtotal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .shop_bag_alert .payments .delivery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .shop_bag_alert .payments .totalhead_n_cost {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: bold;
    margin: 2rem auto;
  }
  .bag_items_and_cancel_alert {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 2rem 3rem;
  }
  .bag_items_and_cancel_alert .cancel_shop_bag_alert {
    cursor: pointer;
    font-size: 3rem;
    font-weight: lighter;
    color: #131c2782;
  }
  .bag_items_and_cancel_alert .bag_items {
    font-weight: bold;
  }
  .shop_bag_notification_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 5rem auto;
    width: 90%;
    border-bottom: 1px solid #525252;
  }
  .search_shoe_wrapper {
    position: -webkit-sticky;
    position: sticky;
    top: 0%;
    z-index: 1;
    display: none;
    -webkit-animation: search_bar_show 1s linear forwards;
            animation: search_bar_show 1s linear forwards;
    transform-box: fill-box;
  }
  .search_shoe_wrapper .search_shoe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 10rem 2rem;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(transparent)), url("../img/male/m41.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0.6), transparent), url("../img/male/m41.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-animation: changeBackground 8s infinite alternate ease-in-out 2s;
            animation: changeBackground 8s infinite alternate ease-in-out 2s;
  }
  .search_shoe_wrapper .search_shoe form {
    -webkit-box-flex: 3;
        -ms-flex-positive: 3;
            flex-grow: 3;
  }
  .search_shoe_wrapper .search_shoe form input {
    width: 0%;
    margin: 0 auto;
    border-radius: 8rem;
    border: none;
    outline: none;
    padding: 1rem 4rem;
    background-color: rgba(238, 238, 238, 0.248);
    -webkit-box-shadow: 0.1em 0.1em 0.25em #131c2754, -0.1em -0.1em 0.25em  #131c2754;
            box-shadow: 0.1em 0.1em 0.25em #131c2754, -0.1em -0.1em 0.25em  #131c2754;
    font-size: medium;
  }
  .search_shoe_wrapper .search_shoe .cancel_search_bar {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    color: white;
    font-size: 3rem;
    cursor: pointer;
    text-align: center;
    padding-top: 0.25rem;
    font-weight: 100;
  }
  /* -------------------------------SLIDING MENU SECTION------------------------------- */
  .dropdown_content {
    background-color: white;
    border-end-end-radius: 5px;
    width: 65%;
    height: 100vh;
    position: fixed;
    top: 0%;
    -webkit-box-shadow: 10px 10px 10px rgba(19, 28, 39, 0.1), 20px 20px 20px rgba(19, 28, 39, 0.1);
            box-shadow: 10px 10px 10px rgba(19, 28, 39, 0.1), 20px 20px 20px rgba(19, 28, 39, 0.1);
    border-top: none;
  }
  .dropdown_content a {
    display: block;
    padding: 3rem 3rem;
    font-size: 2rem;
    font-weight: bold;
  }
  .dropdown_content a .gender, .dropdown_content a .labels {
    border-top: 1px solid #131c2782;
  }
  .dropdown_content #cancel_dropdown {
    color: #131c2782;
    font-size: 3rem;
    cursor: pointer;
    position: absolute;
    left: 80%;
    margin-bottom: 2rem;
    font-weight: 100;
  }
  /* clears the ‘X’ from Chrome */
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }
  /* -------------------------------ANIMATIONS------------------------------- */
  @-webkit-keyframes search_bar_show {
    from {
      -webkit-transform: translateY(-10%) rotateX(-90deg);
              transform: translateY(-10%) rotateX(-90deg);
    }
    to {
      -webkit-transform: translateY(0%) rotateX(0deg);
              transform: translateY(0%) rotateX(0deg);
    }
  }
  @keyframes search_bar_show {
    from {
      -webkit-transform: translateY(-10%) rotateX(-90deg);
              transform: translateY(-10%) rotateX(-90deg);
    }
    to {
      -webkit-transform: translateY(0%) rotateX(0deg);
              transform: translateY(0%) rotateX(0deg);
    }
  }
  @-webkit-keyframes changeBackground {
    0% {
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(transparent)), url("../img/male/m40.jpg");
      background: linear-gradient(rgba(0, 0, 0, 0.6), transparent), url("../img/male/m40.jpg");
      background-position: center;
      background-size: cover;
    }
    25% {
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(transparent)), url("../img/male/m34.jpg");
      background: linear-gradient(rgba(0, 0, 0, 0.6), transparent), url("../img/male/m34.jpg");
      background-position: center;
      background-size: cover;
    }
    50% {
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(transparent)), url("../img/male/m17.jpg");
      background: linear-gradient(rgba(0, 0, 0, 0.6), transparent), url("../img/male/m17.jpg");
      background-position: center;
      background-size: cover;
    }
  }
  @keyframes changeBackground {
    0% {
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(transparent)), url("../img/male/m40.jpg");
      background: linear-gradient(rgba(0, 0, 0, 0.6), transparent), url("../img/male/m40.jpg");
      background-position: center;
      background-size: cover;
    }
    25% {
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(transparent)), url("../img/male/m34.jpg");
      background: linear-gradient(rgba(0, 0, 0, 0.6), transparent), url("../img/male/m34.jpg");
      background-position: center;
      background-size: cover;
    }
    50% {
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(transparent)), url("../img/male/m17.jpg");
      background: linear-gradient(rgba(0, 0, 0, 0.6), transparent), url("../img/male/m17.jpg");
      background-position: center;
      background-size: cover;
    }
  }
}
/*# sourceMappingURL=style.css.map */